{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url('img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Login</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home /</a></li>
            <li class="current">Login</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section class="login section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="login-form login-area">
          <h3>
            Login Now
          </h3>

          <!-- Error message start -->
          {% if messages %}
          <div class="error-msg">
            {% for message in messages %}
            <p class="error-text text-center">{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}
          <!-- Error message end -->

          <form method="POST" action="" role="form" class="login-form">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-user"></i>
                <input type="text" name="username" class="form-control" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-lock"></i>
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="signup-area">
                Don't have an account? <a class="signup-link" href="{% url 'signup' %}">Sign Up</a>
              </div>
              <div class="forgetpassword-area">
                <a class="forgetpassword-link" href="{% url 'reset_password' %}">Forgot Password?</a>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-common log-btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section End -->
{% endblock content %}