{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header" style="background: url('img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Profile Settings</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">Profile Settings</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <!-- Account Sidebar -->
      {% include 'profiles/account-sidebar.html' %}
      <!-- Account Sidebar -->
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content">
            <div class="inner-box">
              <div class="tg-contactdetail">
                <div class="dashboard-box">
                  <h2 class="dashbord-title">Update Profile</h2>
                  
                </div>
                <div class="dashboard-wrapper">
                <form id="" method="POST" action="" class="profile-form"
                enctype="multipart/form-data">
                  <div class="dx-box-content">
                      {% csrf_token %}
                      {{ user_form }}
                      {{ profile_form }}
                      
                      <div class="text-center">
                        <button type="submit" class="btn btn-common log-btn">Update Profile</button>
                      </div>
                  </div>
                </form>
                </div>
              </div>
              <!-- Message start -->
              {% if messages %}
              <div class="error-msg">
                {% for message in messages %}
                <p class="error-text text-center">{{ message }}</p>
                {% endfor %}
              </div>
              {% endif %}
              <!-- Message end -->
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
{% endblock content %}