{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Header Start -->
    <div class="page-header" style="background: url('img/banner1.jpg');">
      
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="product-title">{{ ads_detail.title }} Details</h2>
              <ol class="breadcrumb">
                <li><a href="#">Home /</a></li>
                <li class="current">Details</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->  

    <!-- Ads Details Start -->
    <div class="section-padding">
      <div class="container">
        
        <!-- Product Info Start -->
        <div class="product-info row">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="details-box ads-details-wrapper">
              <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                  {% if ads_detail.image %}
                  <div class="product-img">
                    <img class="img-fluid" src="{{ ads_detail.image.url }}" alt="">
                  </div>
                  {% endif %}
                  <span class="price">{{ ads_detail.price }}</span>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="details-box">
              <div class="ads-details-info">
                <h2>{{ ads_detail.title }}</h2>
                <div class="mb-2 ads-description">{{ ads_detail.description|safe }}</div>
                <div class="details-meta">
                  <span><a href="#"><i class="lni-alarm-clock"></i> {{ ads_detail.date_created }}</a></span>
                  <span><a href="#"><i class="lni-map-marker"></i>  {{ ads_detail.state }}</a></span>
                  <span><a href="#"><i class="lni-eye"></i> 299 View</a></span>
                </div>
              </div>
              <ul class="advertisement mb-4">
                <li>
                <p><strong><i class="lni-folder"></i> Categories:</strong> <a href="#">{{ ads_detail.category }}</a></p>
                </li>
                <li>
                <p><strong><i class="lni-archive"></i> Condition:</strong> {{ ads_detail.condition }}</p>
                </li>
                <li>
                <p><strong><i class="lni-package"></i> Brand:</strong> <a href="#">{{ ads_detail.brand }}</a></p>
                </li>
              </ul>
              <div class="ads-btn mb-4">
                <a href="#" class="btn btn-common btn-reply"><i class="lni-envelope"></i> Email</a>
                <a href="#" class="btn btn-common"><i class="lni-phone-handset"></i> 01154256643</a>
              </div>
              <!-- <div class="share">
                <span>Share: </span>
                <div class="social-link">  
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
                  <a class="google" href="#"><i class="lni-google-plus"></i></a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- Product Info End -->

        <!-- Product Description Start -->
        <!-- <div class="description-info">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-xs-12">
              <div class="description">
                <h4>Description</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="short-info">
                <h4>Short Info</h4>
                <ul>
                  <li><a href="#"><i class="lni-users"></i> More ads by <span>User</span></a></li>
                  <li><a href="#"><i class="lni-printer"></i> Print this ad</a></li>
                  <li><a href="#"><i class="lni-reply"></i> Send to a friend</a></li>
                  <li><a href="#"><i class="lni-warning"></i> Report this ad</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Product Description End -->
        
      </div>    
    </div>
    <!-- Ads Details End -->

{% endblock content %}