{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Latest Ads Listing Section Start -->
<section class="featured section-padding">
  <div class="container">
    
    <div class="row">
      
      {% if ads_search_result %}
        {% for ad_search in ads_search_result %}
        <div class="col-lg-12">
          <h1 class="section-title">We found the following Classifieds for you</h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="featured-box">
            <figure>
              <a href="{% url 'ads-detail' ad_search.id %}">
                  {% for img in ad_search.adsimages_set.all %}
                  {% if forloop.first %}
                      <img class="img-fluid" src="{{ img.image.url }}" alt="">
                  {% endif %}
                  {% endfor %}
              </a>
            </figure>
            
            <div class="feature-content">
              <div class="product">
                  <a href="{% url 'category-archive' ad_search.category.slug %}"><i class="lni-folder"></i>{{ ad_search.category.category_name }}</a>

              </div>
              <h4><a href="{% url 'ads-detail' ad_search.id %}">{{ ad_search.title }}</a></h4>
              <span>Created: {{ ad_search.date_created }}</span>
              <ul class="address">
                <li>
                  <i class="lni-map-marker"></i>{{ ad_search.state }}
                </li>
                <li>
                  <i class="lni-alarm-clock"></i>{{ ad_search.date_created | date }}
                </li>
                <li>
                  <i class="lni-user"></i> {{ ad_search.author.user }}
                </li>
                <li>
                  <i class="lni-package"></i>{{ ad_search.condition }}
                </li>
              </ul>
              <div class="listing-bottom">
                <h3 class="price float-left">$ {{ ad_search.price }}</h3>
                <p class="btn-verified float-right"><i class="lni-check-box"></i> Verified
                  Ad</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="container">
          <div class="col-lg-12">
            <h4 class="text-center">Sorry! We didn't find any Classified Ads matching your query</h4>
          </div>
        </div>
      {% endif %}
      
    </div>
  </div>
</section>
<!-- Latest Ads Listing Section End -->


{% endblock content %}