{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Ads Listings</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">Listings</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Main container Start -->
<div class="main-container section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12 page-sidebar">
        <aside>
          <!-- Search Widget -->
          <!-- <div class="widget_search">
            <form role="search" id="search-form">
              <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..."
                id="search-input" value="">
              <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
            </form>
          </div> -->
          <!-- Categories Widget -->
          <div class="widget categories">
            <h4 class="widget-title">All Categories</h4>
            <ul class="categories-list">
              <li>
                {% for category in category_listing %}
                <a href="{% url 'category-archive' category.slug %}">
                  <i class="lni-folder"></i>
                  {{ category }} <span class="category-counter">({{ category.total_ads }})</span>
                </a>
                {% endfor %}
              </li>
            </ul>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="{% static 'img/img1.jpg' %}" alt="">
            </div>
          </div>
        </aside>
      </div>
      <div class="col-lg-8 col-md-12 col-xs-12 page-content">
        <!-- Product filter Start -->
        <!-- <div class="product-filter">
          <div class="short-name">
            <span>Showing (1 - 12 products of 7371 products)</span>
          </div>
          <div class="Show-item">
            <span>Show Items</span>
            <form class="woocommerce-ordering" method="post">
              <label>
                <select name="order" class="orderby">
                  <option selected="selected" value="menu-order">49 items</option>
                  <option value="popularity">popularity</option>
                  <option value="popularity">Average ration</option>
                  <option value="popularity">newness</option>
                  <option value="popularity">price</option>
                </select>
              </label>
            </form>
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#list-view"><i class="lni-list"></i></a>
            </li>
          </ul>
        </div> -->
        <!-- Product filter End -->

        <!-- Adds wrapper Start -->
        <div class="adds-wrapper">
          
          <div class="tab-content">
            <div id="list-view" class="tab-pane fade active show">
              <div class="row">
                {% for ad_listing in ads_listing %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      
                      <a href="{% url 'ads-detail' ad_listing.id %}">
                        {% for img in ad_listing.adsimages_set.all %}
                        {% if forloop.first %}
                        <img class="img-fluid" src="{{ img.image.url }}" alt="">
                        {% endif %}
                        {% endfor %}
                        
                      </a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="{% url 'category-archive' ad_listing.category.slug %}"><i class="lni-folder"></i> {{ ad_listing.category }}</a>
                      </div>
                      <h4><a href="{% url 'ads-detail' ad_listing.id %}">{{ ad_listing.title }}</a></h4>
                      <span>Created {{ ad_listing.date_created }}</span>
                      <ul class="address">
                        <li>
                          <i class="lni-map-marker"></i> {{ ad_listing.city }}, {{ ad_listing.state }}
                        </li>
                        <li>
                          <i class="lni-alarm-clock"></i> {{ ad_listing.date_created|date }}
                        </li>
                        <li>
                          <i class="lni-user"></i> {{ ad_listing.author.user }}
                        </li>
                        <li>
                          <i class="lni-package"></i> {{ ad_listing.condition }}
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$ {{ ad_listing.price }}</h3>
                        <p class="btn-verified float-right"><i class="lni-check-box"></i>
                          Verified Ad</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
            <!-- <div id="list-view" class="tab-pane fade">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="lni-heart"></i>
                      </div>
                      <a href="#"><img class="img-fluid" src="{% static 'img/featured/img5.jpg' %}" alt=""></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Apple</a>
                      </div>
                      <h4><a href="ads-details.html">Apple Macbook Pro 13 Inch</a></h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"><i class="lni-map-marker"></i>Louis, Missouri, US</a>
                        </li>
                        <li>
                          <a href="#"><i class="lni-alarm-clock"></i> May 18, 2018</a>
                        </li>
                        <li>
                          <a href="#"><i class="lni-user"></i> Will Ernest</a>
                        </li>
                        <li>
                          <a href="#"><i class="lni-package"></i> Brand New</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$450.00</h3>
                        <a href="account-myads.html" class="btn-verified float-right"><i class="lni-check-box"></i>
                          Verified Ad</a>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div> -->
          </div>
          
        </div>
        <!-- Adds wrapper End -->

        <!-- Start Pagination -->
        <!-- <div class="pagination-bar">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div> -->
        <!-- End Pagination -->

      </div>
    </div>
  </div>
</div>
<!-- Main container End -->

{% endblock content %}