{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url({% static 'img/banner1.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Post your Ads</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">Post your Ads</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-5 col-md-12 col-xs-12">
        {% if request.user.is_authenticated %}
        <div class="row page-content">
          <form method="POST" action="" enctype="multipart/form-data" role="form" class="ads-form">
            {% csrf_token %}
            {{ form.media }}
            {{ form }}
            <div class="text-center">
              <button type="submit" class="btn btn-common log-btn">Post Ads</button>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
{% endblock content %}