{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url('assets/img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Contact Us</h2>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Contact Us Section -->
<section id="content" class="section-padding">
  <div class="container">
    <div class="row">
      
      <div class="offset-md-3 col-md-6">
        <h2 class="contact-title">
          Get In Touch
        </h2>
        <div class="information">
          <p>We would like to hear form you about any suggestion or complaint.</p>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-map-marker icon-radius"></i>
            </div>
            <div class="info">
              <h3>Address</h3>
              <span class="detail">120 Clyde Run Fredericksburg, Texas 78624.</span>
            </div>
          </div>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-pointer icon-radius"></i>
            </div>
            <div class="info">
              <h3>Have any Questions?</h3>
              <span class="detail">info@huntingads.com</span>
            </div>
          </div>
          
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-phone icon-radius"></i>
            </div>
            <div class="info">
              <h3>Telephone</h3>
              <span class="detail"> 512-581-8241</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Us Section  -->
{% endblock content %}