{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url( 'img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">FAQ</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">FAQ</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- FAQ Start -->
<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
        <!-- accordion start -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  How do I place an ad?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur sit amet ante nec
                  vulputate. Nulla aliquam, justo auctor consequat tincidunt, arcu erat mattis lorem, lacinia lacinia
                  dui enim at eros. Pellentesque ut gravida augue. Duis ac dictum tellus </p>
                <br>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                  ea proident.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Who shouldi to contact if i Have any question?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                  ea proident.
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur sit amet ante nec
                  vulputate. Nulla aliquam, justo auctor consequat tincidunt, arcu erat mattis lorem, lacinia lacinia
                  dui enim at eros. Pellentesque ut gravida augue. Duis ac dictum tellus </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  How can i cancel or change my order?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita, repellendus est nemo cum
                  quibusdam optio, voluptate hic a tempora facere, nihil non itaque alias similique quas quam odit
                  consequatur.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  How can i Return A Product?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et.
                </p>
                <br>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident iure ab nisi, magnam vitae.
                  Laboriosam laborum suscipit recusandae officia laudantium, consectetur adipisci voluptates doloremque
                  quisquam. Id rerum iusto reprehenderit assumenda!
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  How Long will it take to get my package?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  What shipping methods are available?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                  vegan excepteur butcher vice lome. Leggings occaecat. craft beer farmto-tab le, raw denim aesthetic
                  synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Nihil anim
                  keffiyeh helvetica, craft beer labore wes ande rso cred nesciunt sapiente ea proident Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat caaft beer farmto-tab le,
                </p>
                <br>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aspernatur officia eos quibusdam
                  sapiente ipsum a voluptas eum nihil at molestias doloremque praesentium inventore sint suscipit nobis
                  eligendi atque omnis!
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- accordion End -->
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}