{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Hero Area Start -->
<div id="hero-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 text-center">
        <div class="contents">
          <h1 class="head-title">Welcome to <span class="year">Hunting Ads</span></h1>
          <p>Buy And Sell Everything From Used Hunting Vehicles, Firearms, Merchandise <br> Or Search For Hunting Land, Guide Jobs
            And More</p>
          <div class="search-bar">
            <div class="search-inner">
              <form class="search-form">
                <div class="form-group inputwithicon">
                  <i class="lni-tag"></i>
                  <input type="text" name="customword" class="form-control" placeholder="Enter Product Keyword">
                </div>
                <div class="form-group inputwithicon">
                  <i class="lni-map-marker"></i>
                  <div class="select">
                    <select>
                      <option value="none">Locations</option>
                      <option value="none">New York</option>
                      <option value="none">California</option>
                      <option value="none">Washington</option>
                      <option value="none">Birmingham</option>
                      <option value="none">Chicago</option>
                      <option value="none">Phoenix</option>
                    </select>
                  </div>
                </div>
                <div class="form-group inputwithicon">
                  <i class="lni-menu"></i>
                  <div class="select">
                    <select>
                      <option value="none">Categories</option>
                      <option value="none">Jobs</option>
                      <option value="none">Electronics</option>
                      <option value="none">Mobile</option>
                      <option value="none">Training</option>
                      <option value="none">Pets</option>
                      <option value="none">Real Estate</option>
                      <option value="none">Services</option>
                      <option value="none">Training</option>
                      <option value="none">Vehicles</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->

<!-- Latest Ads Listing Section Start -->
<section class="featured section-padding">
  <div class="container">
    <h1 class="section-title">Latest Classifieds</h1>
    <div class="row">
      {% for recent_ad in recent_ads %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <div class="featured-box">
          <figure>
            <div class="icon">
              <i class="lni-heart"></i>
            </div>
            <a href="#"><img class="img-fluid" src="{{ recent_ad.image.url }}" alt=""></a>
          </figure>
          <div class="feature-content">
            <div class="product">
              <a href="#"><i class="lni-folder"></i>{{ recent_ad.category}}</a>
            </div>
            <h4><a href="ads-details.html">{{ recent_ad.title}}</a></h4>
            <span>Created: {{ recent_ad.date_created}}</span>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i>{{ recent_ad.state}}</a>
              </li>
              <li>
                <a href="#"><i class="lni-alarm-clock"></i>{{ recent_ad.date_created | date}}</a>
              </li>
              <li>
                <a href="#"><i class="lni-user"></i> Maria Barlow</a>
              </li>
              <li>
                <a href="#"><i class="lni-package"></i>{{ recent_ad.condition }}</a>
              </li>
            </ul>
            <div class="listing-bottom">
              <h3 class="price float-left">{{ recent_ad.price }}</h3>
              <a href="account-myads.html" class="btn-verified float-right"><i class="lni-check-box"></i> Verified
                Ad</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>
<!-- Latest Ads Listing Section End -->

<!-- Featured Ads Listings Start -->
<section class="featured-lis section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
        <h3 class="section-title">Featured Classifieds</h3>
        <div id="new-products" class="owl-carousel">
          {% for featured_ad in featured_ads %}
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img class="img-fluid" src="{{ featured_ad.image.url }}" alt="">
                <div class="overlay">
                </div>
                <div class="btn-product bg-yellow">
                  <a href="#">{{ featured_ad.condition }}</a>
                </div>
              </div>
              <div class="product-content">
                <h3 class="product-title"><a href="ads-details.html">{{ featured_ad.title }}</a></h3>
                <p>{{ featured_ad.description | safe | truncatewords:20 }}</p>
                <span class="price">{{ featured_ad.price }}</span>
                <div class="card-text">
                  <div class="float-left">
                    <a href="#"><i class="lni-map-marker"></i>{{ featured_ad.city }}, {{ featured_ad.state }}</a>
                  </div>
                  <div class="float-right">
                    <div class="icon">
                      <i class="lni-heart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Listings End -->

{% endblock content %}