{% load static %}
<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'img/site-logo.png' %}" alt=""></h3>
              <div class="textwidget">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Latest Ads</h3>
              <ul class="media-content-list">
                <li>
                  <div class="media-left">
                    <img class="img-fluid" src="{% static 'img/art/img1.jpg' %}" alt="">
                    <div class="overlay">
                      <span class="price">$ 79</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="post-title"><a href="ads-details.html">Brand New Macbook Pro</a></h4>
                    <span class="date">12 Jan 2018</span>
                  </div>
                </li>
                <li>
                  <div class="media-left">
                    <img class="img-fluid" src="{% static 'img/art/img2.jpg' %}" alt="">
                    <div class="overlay">
                      <span class="price">$ 49</span>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="post-title"><a href="ads-details.html">Canon Photography Camera</a></h4>
                    <span class="date">28 Mar 2018</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Help & Support</h3>
              <ul class="menu">
                <li><a href="#">Live Chat</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Purchase Protection</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="block-title">Subscribe us</h3>
              <p class="text-sub">We have over 5 years of experience Our suppoer avalable to help you 24 hours a day, seven days week</p>
              <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                <div class="form-group is-empty">
                  <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Email address" required="">
                  <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-check-box"></i></button>
                  <div class="clearfix"></div>
                </div>
              </form> 
              <ul class="footer-social">
                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
              </ul>          
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer area End -->
    
    <!-- Copyright Start  -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info float-left">
              <p>All copyrights reserved &copy; 2020 - Developed by <a href="" rel="nofollow">Mahmud</a></p>
            </div>              
            <div class="float-right">  
              <ul class="bottom-card">
                <li>
                    <a href="#"><img src="{% static 'img/footer/card1.jpg' %}" alt="card"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'img/footer/card2.jpg' %}" alt="card"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'img/footer/card3.jpg' %}" alt="card"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'img/footer/card4.jpg' %}" alt="card"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright End -->

  </footer>
  <!-- Footer Section End --> 

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/nivo-lightbox.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/form-validator.min.js' %}"></script>
  <script src="{% static 'js/contact-form-script.min.js' %}"></script>
  <script src="{% static 'js/summernote.js' %}"></script>

</body>
</html>
